# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Environment variables
*.env

# Streamlit cache
.streamlit/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
